.git
.vscode
.venv/
obj/
src/proto/
include/notenest/proto/
services/auth/*_pb2*.py
services/user/*_pb2*.py
*.o
notenest
*.log
*.sh
!entrypoint.sh
!db/migrate.sh
.env
.env.example
docker-compose.yml
docs/
node_modules/
frontend/node_modules/
frontend/dist/
services/graphql/node_modules/
__pycache__/
*.pyc
build/
