# Server configurations
PORT=8080

# Database configurations
DB_HOST=localhost
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=pass
DATABASE_URL=host=localhost port=5432 dbname=postgres user=postgres password=pass

# JWT Secret configurations
JWT_SECRET=default_super_secure_jwt_secret_key_12345_67890

# Redis configurations
REDIS_HOST=127.0.0.1
REDIS_PORT=6379

# MinIO / S3 Storage configurations
MINIO_ENDPOINT=http://minio:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=notenest-attachments
MINIO_EXTERNAL_ENDPOINT=http://localhost:8081

# Kafka & Message Queue configurations
KAFKA_BROKERS=kafka:9092
RABBITMQ_USER=guest
RABBITMQ_PASS=guest
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/

# Observability & Grafana configurations
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
OTEL_COLLECTOR_HOST=otel-collector
OTEL_COLLECTOR_PORT=4318


