build/
node_modules/
frontend/dist/
services/graphql/node_modules/
__pycache__/
*.pyc
.env
*.o
*.out
/notenest
obj/
*.log
.vscode/
.venv/
src/proto/
include/notenest/proto/
services/auth/*_pb2*.py
services/user/*_pb2*.py
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
tfplan
*.tfplan